<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de las tarjetas -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Asistencia 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descripción breve de la primera asistencia. Incluye detalles sobre la fecha y el curso correspondiente.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Asistencia 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descripción breve de la segunda asistencia. Esta asistencia está registrada para un curso diferente.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Asistencia 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descripción breve de la tercera asistencia. Esta asistencia está registrada para un curso diferente.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Asistencia 4</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descripción breve de la cuarta asistencia. Esta asistencia está registrada para un curso diferente.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
