<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center">
        <!-- Imagen del profesor o cualquier imagen que quieras usar -->
        <img src="assets/image/QR.png" alt="Imagen del profesor" class="profesor-image"/>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <ion-button expand="block" color="primary">
          Generar QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
